@charset "utf-8";
.header_nav ul{
    display: flex;
    justify-content: right;
    gap: 30px;
}
.header_nav_item ul{
    display: flex;
    justify-content: right;
    gap: 30px;
}
.gray_area{
    background-color: #909090;
    margin-bottom: 286px;
}
.star{
    position: relative;
}
.star::after{
    background-image: url(../images/2x/starright_img@2x.png);
    background-size: 100%;
    position: absolute;
    content: "";
    width: 10.9%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: -1;
}
.star::before{
    background-image: url(../images/2x/starleft_img@2x.png);
    background-size: 100%;
    position: absolute;
    content: "";
    width: 10.9%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}
@media screen and (max-width: 650px)
{
.star{
    position: static;
}
.star::after
.star::before{
    display: none;
}
}
h3 img{
    height: 86px;
    width: auto;
}

.btn{
    display: block;
    width: 277px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    border: 5px solid #333333;
    border-radius: 58px;
    margin-left: auto;

}
.logo{
    color: #fff;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 66px 8.5% 38px 7.4%;
}
.header_nav li{
    color: #fff;
    font-size: 20px;
}
.sp{
    display: none;
}
.sp--450{
    display: none;
}
@media screen and (max-width: 767px)
{
.pc{
    display: none;
}
.sp{
    display: block;
}
.header_nav{
    display: none;
}
#concept.sp .concept,
#concept.sp .concept_main,
#concept.sp .concept_text{
color: #333333;
}
#concept.sp{
    padding: 0 20px;
}
#concept.sp .concept_main{
    font-size: 40px;
    padding-top: 43px;
}
#concept.sp .concept_text{
    font-size: 14px;
}
.concept{
    font-size: 30px;
    position: relative;
    padding-bottom: 16px;
}
.concept::before{
    position: absolute;
    content: "";
    width: 123.5px;
    height: 2px;
    background-color: #333333;
    bottom: 0;
    left: -20px;
}
.btn{
    height: 42px;
    width: 180px;
    line-height: 42px;
    font-size: 18px;
}
}
@media screen and (max-width: 450px) {
    .sp--450{
        display: block;
    }
}

.mainvisual{
    width: 78.84%;
    margin: 0 auto 45px;
}
#concept{
    max-width: 700px;
    margin: 0 auto 122px;
}
.concept{
    font-size: 34px;
    color: #fff;
}
.concept_main{
    font-size: 56px;
    font-weight: normal;
    color: #fff;
    text-align: left;
    padding-top: 20px;
    margin: 0 auto;
}
.concept_text{
    text-align: left;
    font-size: 18px;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 75px;
    line-height: 1.9;
    font-weight: bold;
}
.scroll{
    text-align: center;
    padding-top: 30px;
    font-size: 22px;

}
.human_image{
    align-items: center;
    margin: 150px  auto 0;
    width: 250px;
    padding-bottom: 63px;
}
#works{
    margin-bottom: 300px;
}

.works{
    text-align: center;
    font-size: 34px;
}
.works_about{
    text-align: center;
    padding-top: 30px;
    font-size: 56px;
}
.works_text{
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
    line-height: 1.9;
    padding-top: 78px;
    padding-bottom: 78px;
}
.works_item{
    display: flex;
    gap: 50px;
    padding-top: 78px;
}
.works_item img{
    height: 242px;
    width: auto;
}
#works .btn{
    margin: 0 auto;
}
#profile{
    max-width: 980px;
    margin: 0 auto 250px;
}
.profile{
    text-align: center;
    font-size: 34px;
}
.profile_about{
    text-align: center;
    font-size: 56px;
    padding-top: 30px;
}
.profile_text{
    width: 69%;
    padding-right: 60px;
    line-height: 1.9;
}
.profile_item{
    align-items: center;
    margin-bottom: 30px;
}
.profile_item {
    padding: 5px 5px;
}
.profile_item p{
    padding-top: 5px;
    padding-bottom: 5px;
}
.profile_item img{
    width: 31%;
}
#profile .btn{
    margin: 0 auto;
}
@media screen and (max-width: 1300px){
    #profile{
        max-width: 700px;
    }
}
@media screen and (max-width: 980px){
    #profile{
        max-width: 500px;
    }
}

.contact_container{
    max-width: 831px;
    margin: 0 auto;
    background-color: #EFEFEF;
    padding: 75px 0 90px;
}
.contact_container h2{
    text-align: center;
    font-size: 34px;   
}
.contact_container p{
    line-height: 1.75;
    text-align: center;
    font-size: 16px;
    margin-top: 50px;
    margin: 0 auto;
}
#contact .btn{
    width: 523px;
    margin: 14px auto;
}
.totop{
    position: fixed; 
    bottom: 10px;
    right: 10px;
    width: 178px;
    height: 286px;
}
footer{
    background-image: url(../images/2x/planet_img@2x.png);
    background-position: bottom;
    padding: 279px 0 80px;
    background-size: 100%;
    background-repeat: no-repeat;  
    margin-top: 100px;
}
.copyright{
    text-align: center;
    color: #fff;
}

@media screen and (max-width:1100px){
    footer{
        padding-bottom: 40px;
    } 
}
@media screen and (min-width:1366px){
    footer{
        background-size: 1366px;
    }
    }
/* 以下about */
.title{
    font-size: 80px;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 127px;
}
.gray_area_about{
    background-color: #EFEFEF;
    margin: 0 auto;
    height: 649px;
}
.gray_area_about h2{
    padding-top: 300px;
}
.about_lead{
    text-align: center;
    line-height: 2;
    padding-top: 243px;
    padding-bottom: 290px;
}
.about_heading{
    text-align: center;
    font-size: 50px;
    padding-bottom: 145px;
}
.about_item{
    display: flex;
    align-items: center;
}
.about_text01{
    font-size: 17px;
    line-height: 2;
}
.lighthand_img{
    align-items: center;
    width: 30%;
    padding: 59px 480px 413px 480px;
}
.about_text02{
    font-size: 17px;
    line-height: 2;
}
.circle_img{
    width: 40%;
    padding: 163px 340px 256px 429px;
}
.about_text03{
    font-size: 17px;
    line-height: 2;
}
.human_img{
    width: 33%;
    padding: 70px 400px 380px 515px;
}
/* 以下works */



/* 以下profile */
.profile_pr p{
    padding-top: 5px;
    padding-bottom: 5px;
}
.self_introduction p{
    line-height: 2;
}
.introduce::before{
    position: relative;
    top: 30px;
    width: 972px;
    height: 2px;
    background-color: #333333;
    bottom: 0;
}
.career{
    margin-top: 90px;
    padding-bottom: 90px;
}
.career p{
    padding-top: 10px;
    padding-bottom: 10px;
}

.interest{
    display: flex;
    border: solid 1px;
    color: #333333;
    padding: 40px;
    width: 871px;
    height: 245px;
    align-items: center;
}
.smallcontact{
    max-width: 831px;
    margin: 0 auto;
    background-color: #EFEFEF;
    padding: 75px 0 90px;
}
.smallcontact h1{
    text-align: center;
    font-size: 34px;   
}
.smallcontact .btn{
    width: 523px;
    margin: 14px auto;
}
.interest_topics{
    text-align: justify;
}

/* 以下contact */
.contact_text{
    font-size: 18px;
    font-weight: bold;
    max-width: 933px;
    margin: 0 auto;
    text-align: left;
}
.contact_form{
    padding-top: 167px;
    max-width: 933px;
    margin: 0 auto;
}
.contact_list{
    padding-bottom: 60px;
}
.contact_label{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 17px;
}
.contact_en{
    font-size: 20px;
    font-weight: bold;
    color: #B0B0B0;
}
.gray_area_contact p{
    font-size: 20px;
}
.gray_area_contact p{
    background-color: #EFEFEF;
    color: #B0B0B0;
    width: 672px;
    height: 68px;
}
.copyright_contact{
    text-align: center;
}

.footer{
    background-image: none;
}



@media screen and (max-width:1100px){
    footer{
        padding-bottom: 40px;
    } 
}
@media screen and (min-width:1366px){
    footer{
        background-size: 1366px;
    }
    }

@media screen and (max-width: 1300px){
    #profile{
        max-width: 700px;
    }
}
@media screen and (max-width: 980px){
    #profile{
        max-width: 500px;
    }
}