@charset "utf-8";
body{
    background-color: #E8D9BF;
}

.header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 7% 0 2.7%;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}

.logo img{
    width: 226.76px;
}

.header_nav ul{
    display: flex;
    gap: 45px;
}

.header_nav li{
    font-family:  "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", 
     "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: bold;
    font-size: 10px;
    color: #fff;
    width: 105px;
    text-align: center;
}

.slider{
    width: 100%;
}
.lead-text01{
    text-align: center;
    margin: 60px;
    padding-top: 80px
}
.lead-text02{
    text-align: center;
    font-size: 82px;
}
.lead-text03{
    text-align: center;
    margin: 30px;
    padding-bottom: 100px;
}
#about{
    display: flex;
    max-width: 1000px;
    padding: 0 10px;
    text-align: center;
    margin: 0 auto;
}
.about-img{
    border-bottom-right-radius: 69px;
    width: 50%;
}
.about-item{
    padding-left: 72px;
    text-align: left;
}
.about-title{
    width: 272px;
    padding-bottom: 72px;
    align-items: center;
}
.about-lead{
    font-size: 44px;
    text-align: left;
}
.about-text{
    font-size: 16px;
    padding-top: 36px;
}
#menu{
    max-width: 1000px;
    padding: 0 10px;
    text-align: center;
    margin: 0 auto;
}
.menu-title{
    padding-top: 110px;
    padding-bottom: 51px;
    width: 142px;
}
.menu-img{
    border-top-right-radius: 30px;
    max-width: 1000px;
    margin: 0 auto;
    width: 300px;
    height: 200px;
}
.menu-item{
    display: flex;
    gap: 48px;
}
.menu-item li{
    text-align: left;
}
h3{
    font-size: 38px;
    color: #D30202;
    text-align: start;
    margin-top: -20px;
    margin-bottom: 17px;
}
#gallery{
    text-align: center;
    margin: 0 auto;
}
.gallery-title{
    padding-top: 95px;
    padding-bottom: 26px;
    width: 245px;
}
.slider-img{
    display: flex;
    width: 20%;
}
#event{
    max-width: 1000px;
    padding: 0 10px;
    text-align: center;
    margin: 0 auto;
}
.event-title{
    padding-top: 70px;
    padding-bottom: 39px;
    width: 173px;
}
.event-item {
    text-align: center;
    margin: 0 auto;
    padding: 40px 160px;
    background-color: #fff;
    border: 3.68px solid #4F260B;
}
.event-item li{
    display: flex;
    gap: 50px;
    padding-bottom: 24px;
}
.event-item a{
    border-bottom: 1px solid #4F260B;
}
#access{
    text-align: center;
    margin: 0 auto;
}
.access-title{
    padding-top: 79px;
    padding-bottom: 46px;
    width: 213px;
}
iframe{
    width: 100%;
    margin: 0 auto;
    vertical-align: bottom;
}
footer{
    background-color: #fff;
}
.footter-item{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 82px;
}
.logo-footter{
    width: 226px;
    height: 100%;
}
.designcafe-imfo{
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
}
.designcafe-imfo p{
    line-height: 1.95;
}
.copyright{
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 79px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
}
.totop{
    position: fixed; 
    bottom: 20px;
    right: 20px;
    width: 125px;
}