@charset "utf-8";
body{
    background-color: #E8D9BF;
}

.header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 7% 0 2.7%;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}

.logo img{
    width: 226.76px;
}

.header_nav ul{
    display: flex;
    gap: 45px;
}

.header_nav li{
    font-family:  "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", 
     "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: bold;
    font-size: 10px;
    color: #fff;
    width: 105px;
    text-align: center;
}

.slider{
    width: 100%;
}
.lead-text01{
    text-align: center;
    margin: 60px;
    padding-top: 80px
}
.lead-text02{
    text-align: center;
    font-size: 82px;
}
.lead-text03{
    text-align: center;
    margin: 30px;
    padding-bottom: 100px;
}
#about{
    display: flex;
    max-width: 1000px;
    padding: 0 10px;
    text-align: center;
    margin: 0 auto;
}
#sp_about{
    display: none;
}
.about-img{
    border-bottom-right-radius: 69px;
    width: 100%;
}
.about-item{
    padding-left: 84px;
    text-align: left;
    width: 50%;
}
.about-title{
    width: 272px;
    padding-bottom: 72px;
    align-items: center;
}
.about-lead{
    font-size: 44px;
    text-align: left;
}
.about-text{
    font-size: 16px;
    padding-top: 36px;
}
#menu{
    max-width: 1000px;
    padding: 0 10px;
    text-align: center;
    margin: 0 auto;
}
.menu-title{
    padding-top: 110px;
    padding-bottom: 51px;
    width: 142px;
}
.menu-img{
    border-top-right-radius: 30px;
    max-width: 1000px;
    margin: 0 auto;
    width: 300px;
    height: 200px;
}
.menu-item{
    display: flex;
    gap: 48px;
}
.menu-item li{
    text-align: left;
}
h3{
    font-size: 38px;
    color: #D30202;
    text-align: start;
    margin-top: -20px;
    margin-bottom: 17px;
}
#gallery{
    text-align: center;
    margin: 0 auto;
}
.gallery-title{
    padding-top: 95px;
    padding-bottom: 26px;
    width: 245px;
}
.slider-img{
    display: flex;
    width: 20%;
}
#event{
    max-width: 1000px;
    padding: 0 10px;
    text-align: center;
    margin: 0 auto;
}
.event-title{
    padding-top: 70px;
    padding-bottom: 39px;
    width: 173px;
}
.event-item {
    text-align: center;
    margin: 0 auto;
    padding: 40px 160px;
    background-color: #fff;
    border: 3.68px solid #4F260B;
}
.event-item li{
    display: flex;
    gap: 50px;
    padding-bottom: 24px;
}
.event-item a{
    border-bottom: 1px solid #4F260B;
}
#access{
    text-align: center;
    margin: 0 auto;
}
.access-title{
    padding-top: 79px;
    padding-bottom: 46px;
    width: 213px;
}
iframe{
    width: 100%;
    margin: 0 auto;
    vertical-align: bottom;
}
footer{
    background-color: #fff;
}
.footter-item{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 82px;
}
.logo-footter{
    width: 226px;
    height: 100%;
}
.designcafe-imfo{
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
}
.designcafe-imfo p{
    line-height: 1.95;
}
.copyright{
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 79px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
}
.totop{
    position: fixed; 
    bottom: 20px;
    right: 20px;
    width: 125px;
}
.sp_nav, .humberger{
    display: none;
}

@media screen and (max-width:1100px) {
    .lead-text01{
        font-size: 17px;
    }
    .sp_nav{
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: rgb(000, 000, 000, 0.5);
    }
    .sp_nav ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .sp_nav li{
        padding: 16px;
        font-size: 16px;
        color: #fff;
        text-align: center;
    }
    .header_nav{
        display: none;
    }
    .humberger{
        display: block;
        cursor: pointer;
        height: 30px;
        width: 33px;
        position: absolute;
        z-index: 9999;
        right: 0;
    }
    .humberger span{
        width: 33px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        content: "";
        top: 20px;
        right: 10px;
        z-index: 9999;
        transition: 0.5s;
    }
    .humberger span::before,
    .humberger span::after{
        position: absolute;
        content: "";
        width: 33px;
        height: 3px;
        background-color: #fff;
        transition: 0.5s;
    }
    .humberger span::before{
        top: -10px;
    }
    .humberger span::after{
        top: 10px;
    }
    .open span{
        background: transparent;
    }

    .open span::before{
        transform: rotate(45deg);
        top: 0;
    }
    .open span::after{
        transform: rotate(-45deg);
        top: 0;
    }

}
@media screen and (max-width:767px) {
    .lead-text01{
        font-size: 17px;
    }
    .lead-text02{
        font-size: 38px;
    }
    .lead-text03{
        font-size: 16px;
        line-height: 1.875;
    }
    #about{
        display: none;
    }
    #sp_about{
        display: block;
        max-width: 767px;
        text-align: center;
        margin: 0 auto;
    }
    .sp_about_img{
        width: 100%;
    }
    .about-item{
        display: block;
    }
    .about-lead{
        font-size: 36px;  
    }
    .about-text{
        font-size: 20px;
    }
    #menu{
        padding: 0 30px;
    }
    .menu-item{
        display: block;
    }
    .menu-item li{
        margin-top: 50px;
        font-size: 20px;
    }
    .menu-img{
        width: 100%;
        height: 100%;
    }
    .sp_none{
        display: none;
    }
    .slider-img picture img{
        width: 100%;
    }
    h3{
        width: 87px;
        text-align: left;
        margin-top: -15px;
        margin-bottom: 20px;
    }
    .event-item{
        text-align: left;
        margin: 0 auto;
        padding: 30px 50px;
        background-color: #fff;
        border: 3px solid #4F260B;
    }
    .event-item li{
        display: block;
        font-size: 16px;
    }
    .footter-item{
        display: block;
        margin: 0 auto;
    }
    .logo-footter{
        width: 300px;
        margin-bottom: 30px;
    }
    .designcafe-imfo p{
        font-size: 20px;
    }

    
    
}